* { margin: 0; padding: 0; box-sizing: border-box; }
body { background: #050505; color: white; font-family: sans-serif; overflow: hidden; }

nav {
    position: fixed; top: 0; width: 100%; padding: 25px;
    display: flex; justify-content: space-between; z-index: 10;
}

ul { display: flex; list-style: none; gap: 30px; }
#canvas-container { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }